* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bulb{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin: 40px;
    border-radius: 50%;
    background-color: aqua;
}

button{
    height: 40px;
    width: 60px;
    font-size: 20px;
    margin: 40px;
}
