* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

h1{
    margin-top: 10px;
}
h5 {
    font-size: 20px;
    margin-top: 10px;
    color: red;
}

.card {
    width: 400px;
    height: 600px;
    border-radius: 12px;
    background-color: rgb(54, 160, 253);
    padding: 40px;
}
.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
 height: 30px;
 width: 30px;
 margin: 20px 10px;
 background-color: aquamarine;
 color: rgb(131, 40, 40);
 border: none;
 border-radius: 5px;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}
