* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: bisque;
    overflow: hidden;
}


img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

i {
    color: #ffffff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all ease 0.4s;
    opacity: 0.0;
}
